.footer__columns {
    flex-basis: 711px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 60px;
    bottom: 40px;
    right: 5%;
    left: 5%;
}
