.footer__list-item {
    margin: 0;
    opacity: 0.4;
}

.footer__list-item:nth-of-type(2n) {
    margin: 10px 0 10px 0;
}

.footer__list-item:hover {
    opacity: 1;
    transition: opacity linear 0.2s;
}
