.khan__buy-link {
    margin: 0;
    color: #2E80EC;
    line-height: 42px;
    font-size: 42px;
    font-weight: normal;
    text-decoration: none;
}

.khan__buy-link:hover {
    color: #9fc5e8;
    transition: color linear 0.2s;
}
